.section {
  text-align: center;
}
.about {
  background: url("https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg")
    no-repeat;
  background-size: cover;
}
.opaque-bg{
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    padding: 1px 1px 5px 5px;
}

.about p {
    color: white;
    font-weight: 100;
    font-size: 17.4px;
}