@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    
}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: #ff6363;
    font-weight: bold;
}

.section {
    text-align: center;
}

.nav-header {
    width: 100%;
    background: white;
}

.nav-header a {
    color: #757575;
    -webkit-transition: all 0.2s ease-in;
}

.nav-logo {
    position: fixed;
    width: 100%;
    z-index: 500;
}
.nav-logo li {
    float: left;
    padding: 15px;
    font-size: 20px;
}

.nav-links {
    position: fixed;
    width: 100%;
    z-index: 500;
}

.nav-links li {
    color: white;
    display: inline;
    float: right;
    padding: 15px;
    font-size: 20px;
}
